body,
dl,
dd,
ul,
h1,
h2{ margin: 0;};
body{
	font-family: "Helvetica Neue", Helvetica, "PingFangSC-Light", "Hiragino Sans GB", "Heiti SC","microsoft yahei ui", "Microsoft YaHei", "WenQuanYi Micro Hei","Segoe UI", Arial, sans-serif;
	font-size: 14px;
}
ul li{
	list-style: none;
}
a:link{text-decoration:none;}
a:hover{text-decoration:none;}
.wrapper{
	width: 910px;
	margin: 0 auto;
}
.logo{overflow: hidden;}
.logo h1{float: left;}
.logo dl{
	margin: 10px 0;
    line-height: 20px;
	font-size: 12px;
	font-weight: bold;
	float: right;
}
.logo dd{
	color: darkgrey;
}
.logo a{ 
	display: block;
	width: 217px;
	height: 63px;
	text-indent: -3333px;
	background: url(../images/logo.gif) 0 0 no-repeat;
}
.nav{
	background: url(../images/navbg.gif) 0 0 no-repeat;
	overflow: hidden;
	padding-top: 5px;
	} 
	.nav ul {	
	height: 36px;
	padding: 0 20px;
	list-style: none;
}
.nav ul li{
	padding: 0 20px;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	float: left;
	color: white;
}
.nav .Q_lab{
	background: url(../images/arrow_r.gif)0 4px no-repeat;
	float: right;
	}
.nav a{
	color: white;
}
.active a{
	display: block;
	width: 88px;
	height: 36px;
	background: url(../images/home.gif) 0 -1px no-repeat;
	color: black;
	}


.main .left{
	float: left;
	width:600px;
	height: 200px;
	margin-right: 20px;
	
}
.main .right{
	float: right;
	width: 288px;
	
}
.left_banner{
	text-align: center;
}
.software_list h2{
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: 2px solid #DCEEF9 ;
	font-size: 16px;
}
.software_list h2 a{
	color: #366F9A;
}
.software_list h2 span{
	float: right;
	font-size:12px;
}
.software_list ul li{
	margin: 10px 0;
	overflow: hidden;
}
.footer{
    clear: both;
    position: relative;
    bottom:-20px;
	text-align: center;
}
.software_list ul li dl{
	float: left;
	padding-left: 50px;
}
.software_list ul li span{
	float: right;
	font-size:12px;
}
.software_list .down{
	padding-left: 15px;
	background: url(../images/downicon.gif) 0 3px no-repeat;
}
.software_list .sw01{
	background: url(../images/icon_1.gif)0 3px no-repeat;
}

.software_list .sw02{
	background: url(../images/icon_2.gif) 0 3px no-repeat;
}
.software_list .sw03{
	background: url(../images/icon_3.gif)0 3px no-repeat;
}
.software_list .sw04{
	background: url(../images/icon_4.gif)0 3px no-repeat;
}
.software_list .sw05{
	background: url(../images/icon_5.gif)0 3px no-repeat;
}
.software_list .sw06{
	background: url(../images/icon_6.gif)0 3px no-repeat;
}
.news p{
	margin: 0 ;
	padding: 5px 0;
	border-bottom: 2px solid #DCEEF9;
}
.news ul{
	margin-left: -20px;
}
.news ul li{
	margin-top: 8px;
	list-style: disc;
	font-size: 12px;
	/*overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;*/
}
.news ul li a{
	color: #2D6896;;
}
.recomment p{
	padding-bottom: 5px;
	margin-bottom: 5px;
	color: #366F9A;
	border-bottom: 2px solid #DCEEF9;
}
.recomment span{
	color: #366F9A;
	float: right;
	font-size: 12px;
}
.recomment ul{
	margin-left: -30px;
}
.recomment ul li{
	padding-bottom: 10px;
    color:#477AA3 ;
    font-size: 14px;
	padding-left:20px ;
}
.recomment .list_01{
	background: url(../images/soft_r_1.gif) no-repeat;
}
.recomment .list_02{
	background: url(../images/soft_r_2.gif) no-repeat;
}
.recomment .list_03{
	background: url(../images/soft_r_3.gif) no-repeat;
}
.recomment .list_04{
	background: url(../images/soft_r_4.gif) no-repeat;
}
.recomment .list_05{
	background: url(../images/soft_r_5.gif) no-repeat;
}
.recomment .list_06{
	background: url(../images/soft_r_6.gif) no-repeat;
}
.recomment ul li span{
	padding-left: 13px;
	background: url(../images/downicon.gif) 0 3px no-repeat;
}
.partner p{
	padding-bottom: 5px;
	margin-bottom: 5px;
	color: black;
	border-bottom: 2px solid #DCEEF9;
}
table a{
	color:#205F8F ;
}
table td{
	padding-right: 5px;
}
.time{
	margin-top:3px ;
	color: #777777;
}
