body,
dl,dd,
ul{ margin: 0;};
body{
	font-family: "Helvetica Neue", Helvetica, "PingFangSC-Light", "Hiragino Sans GB", "Heiti SC","microsoft yahei ui", "Microsoft YaHei", "WenQuanYi Micro Hei","Segoe UI", Arial, sans-serif;
	font-size: 14px;
}
h1{ margin: 0;}
a:link{text-decoration:none;}
a:hover{text-decoration:none;}
.wrapper{
	width: 910px;
	margin: 0 auto;
}
.logo{overflow: hidden;}
.logo h1{float: left;}
.logo dl{
	margin: 10px 0;
    line-height: 20px;
	font-size: 12px;
	font-weight: bold;
	float: right;
}
.logo dd{
	color: darkgrey;
}
.logo a{ 
	display: block;
	width: 217px;
	height: 63px;
	text-indent: -3333px;
	background: url(../images/logo.gif) 0 0 no-repeat;
}
.nav{
	background: url(../images/navbg.gif) 0 0 no-repeat;
	overflow: hidden;
	padding-top: 5px;
	} 
	.nav ul {	
	height: 36px;
	padding: 0 20px;
	list-style: none;
}
.nav ul li{
	padding: 0 20px;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	float: left;
	color: white;
}
.nav .Q_lab{
	background: url(../images/arrow_r.gif)0 4px no-repeat;
	float: right;
	}
.nav a{
	color: white;
}
.active a{
	display: block;
	width: 88px;
	height: 36px;
	background: url(../images/home.gif) 0 -1px no-repeat;
	color: black;
	}
